<div
  class="flex items-center p-2 mb-2 border-b border-gray-300"
  *ngFor="let item of items; let index = index"
>
  <input
    [id]="'item' + index"
    type="checkbox"
    (change)="toggleStatusItem(item)"
  />
  <label
    [for]="'item' + index"
    class="flex-grow mx-3"
    [class.line-through]="item.status"
  >
    {{ item.title }}
  </label>
  <span (click)="deleteItem(item)">
    <svg xmlns="http://www.w3.org/2000/svg" width="10" viewBox="0 0 24 24">
      <path
        fill="#a0aec0"
        d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
      />
    </svg>
  </span>
</div>
<form class="flex items-center">
  <input
    [(ngModel)]="newItem.title"
    name="newItem"
    type="text"
    placeholder="Add new item..."
    class="appearance-none rounded flex-grow py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
  />
  <button
    (click)="addToList()"
    class="bg-purple-700 hover:bg-purple-900 text-white font-bold p-4 rounded-full focus:outline-none focus:shadow-outline"
    type="button"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="10" viewBox="0 0 24 24">
      <path fill="white" d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z" />
    </svg>
  </button>
  <span> </span>
</form>
