<div class="todo-item">
  <input
    class="toggle"
    [id]="'item' + index"
    type="checkbox"
    (change)="toggleTodoStatus(item)"
  />
  <label
    [for]="'item' + index"
    class="flex-grow"
    [class.completed]="item.status"
  >
    {{ item.title }}
  </label>
  <div class="destroy" (click)="deleteTodo(item)">
    <!--<svg xmlns="http://www.w3.org/2000/svg" width="10" viewBox="0 0 24 24">
      <path
        fill="#a0aec0"
        d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
      />
    </svg>-->
  </div>
</div>
